
  <div class="cv-body">

    <div class="first-banner justify-content-center">
      <div id="particles" class="banner">
        <div class="name-banner d-flex justify-content-center">
          Laura Person
        </div>
        <div class="job-banner d-flex justify-content-center">
          Freelance Web-Developer
        </div>
      </div>
    </div>

    <div class="second-banner justify-content-center">
      <div class="about">
        <div class="title mb-5">
          About Me
        </div>
        <div class="about-me mb-5">
           I have a master's degree in social anthropology from <a href="https://www.ehess.fr">EHESS</a> (Ecole des Hautes Etudes en Sciences Sociales) in Paris. <br><br>During my professional experiences on the field, I felt frustrated by the limited solutions we can offer to support certain social causes. I have always been attracted by the tools and solutions that technology can provide. This is why, in 2020, I followed a professional qualification as a web-developer at the School of <a href="https://www.lewagon.com">Le Wagon</a> in Rio de Janeiro, for 6 months. <br><br>Today, I use my skills to bring solutions to the human and social problems that are important to me.
        </div>
      </div>
      <div class="img-profile"></div>
    </div>

    <div class="skills mb-5" id="skills">
      <h1>
        My Dev Skills
      </h1>
      <div class="row skills justify-content-center">
        <% @skills.each do |skill| %>
          <div class="skills-card col-6 col-sm-4 col-md-3 col-lg-2">
            <svg height="50px" width="50px" viewBox="0 0 128 128">
              <%= skill.svg_path.html_safe %>
            </svg>
            <div class="flip-card-back">
              <%= skill.title %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="designs mb-5" id="design">
      <div class="design-card">
        <h1>
          My Design Skills
        </h1>
        <div class="row design justify-content-center">
          <% @designs.each do |design| %>
            <div class="design-skills-card col-6 col-sm-4 col-md-3 col-lg-2">
              <svg height="50px" width="50px" viewBox="0 0 128 128">
                <%= design.svg_path.html_safe %>
              </svg>
              <div class="design-title-card">
                <%= design.title %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="design-photo">
        <img src="/assets/devworker.png" alt="" class="design-img">
      </div>
    </div>

    <div class="projects">
      <h1>
        My latests projects
      </h1>
      <div class="row projects justify-content-center">
        <% @projects.each do |project| %>
          <div class="project-card col-6 col-sm-4 col-md-3 col-lg-2">
            <svg height="50px" width="50px" viewBox="0 0 128 128">
              <%= project.svg_path.html_safe %>
            </svg>
          <div class="card-title">
            <%= project.title %>
          </div>
          <div class="card-description">
            <%= project.description %>
          </div>
          <div class="card-skills">
            <%= project.skills %>
          </div>
      </div>
        <% end %>
    </div>

    <div class="contact">
      <h1>
        Contact me !
      </h1>
      <div class="contact-links d-flex">
        <a href="https://www.linkedin.com/in/alexis-lenoir-857496ab/" class="icon-social-large mx-3">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/LauraPerson" class="icon-social-large mx-3">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:laura.martin.person@gmail.com" target="_blank" class="icon-social-large mx-3">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
      <div class="contact-photo">
        <img src="/assets/contact.png" alt="" class="contact-img">
      </div>
    </div>
  </div>





