
<div class="cv-body">

  <div class="first-banner justify-content-center">
    <div id="particles" class="banner">
      <div class="name-banner d-flex justify-content-center">
        Laura Person
      </div>
      <div class="job-banner d-flex justify-content-center">
        Web-Developpeuse Freelance
      </div>
    </div>
  </div>

  <div class="second-banner justify-content-center">
    <div class="about">
      <div class="title mb-5">
        About me
      </div>

      <div class="testestest">
        gigigigigigiggi

        gigiigigi
        gigiig


      </div>
      <div>
        fifififififffi
      </div>
      <div class="about-me mb-5">
         Je suis diplômée d'un master en anthropologie sociale de l'<a href="https://www.ehess.fr">EHESS</a> (École des Hautes Etudes en Sciences Sociales) Paris. <br><br>Lors de mes différentes expériences professionnelles sur le terrain, je me suis sentie démunie face à certaines situations sociales auxquelles je pouvais être confrontée. J'ai toujours été attirée par les outils et les réponses que peut apporter la technologie. C'est pourquoi, en 2020, j'ai décidé de suivre une qualification professionnelle de web-développeuse à l'école <a href="https://www.lewagon.com">Le Wagon</a> à Rio de Janeiro pendant 6 mois. <br><br>Aujourd'hui, j'utilise mes compétences pour apporter des solutions aux problèmes humains et sociaux qui me tiennent à coeur.
      </div>
    </div>
    <div class="img-profile"></div>
  </div>

  <div class="skills mb-5" id="skills">
    <h1>
      Mes compétences en Web-développement
    </h1>
    <div class="row skills justify-content-center">
      <% @skills.each do |skill| %>
        <div class="skills-card col-6 col-sm-4 col-md-3 col-lg-2">
          <svg height="50px" width="50px" viewBox="0 0 128 128">
            <%= skill.svg_path.html_safe %>
          </svg>
          <div class="dev-skill-title">
            <%= skill.title %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="designs mb-5" id="design">
    <div class="design-card">
      <h1>
        Mes compétences en Design
      </h1>

      <div class="row design justify-content-center">
        <% @designs.each do |design| %>
          <div class="design-skills-card col-6 col-sm-4 col-md-3 col-lg-2">
            <svg height="50px" width="50px" viewBox="0 0 128 128">
              <%= design.svg_path.html_safe %>
            </svg>
            <div class="design-title-card">
              <%= design.title %>
            </div>
          </div>
        <% end %>
      </div>


    </div>
    <div class="design-photo">
      <img src="/assets/devworker.png" alt="" class="design-img">
    </div>
  </div>

  <h1>
    Activités d'enseignement
  </h1>

  <div class="title-teaching">
    <div id="box-counter" data-duration="5000">
       666
    </div>
    <p> VISITORS </p>
  </div>

  <p>Teacher Assistant</p>
  <h1>23 jours</h1> sur <h1>3 batchs</h1> au Wagon Paris
  <p>Interventions</p>
  <h1>3 interventions</h1> chez <h1>Social Builder</h1>

  <div class="projects">
    <h1>
      Mes derniers projets
    </h1>

    <div class="row projects justify-content-center">
      <% @projects.each do |project| %>
          <div class="project-card col-lg-3 col-sm-6">
            <%= link_to project.link do %>
              <div class="card-img" style="background-image: url(/assets/<%=project.title.downcase.gsub(/\s+/, "").parameterize %>.png">
              </div>
              <div class="card-title">
                <%= project.title %>
              </div>
              <div class="card-description">
                <%= project.description %>
              </div>
              <div class="card-skills">
                <%= project.skills %>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>

  <div class="contact">
    <h1>
      Contactez moi !
    </h1>
    <div class="contact-links d-flex">
      <a href="https://www.linkedin.com/in/laura-person-a94a8a110/" class="icon-social-large mx-3">
          <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/LauraPerson" class="icon-social-large mx-3">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:laura.martin.person@gmail.com" target="_blank" class="icon-social-large mx-3">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
    <div class="contact-photo">
      <img src="/assets/contact.png" alt="" class="contact-img">
    </div>
  </div>
</div>





