<!DOCTYPE html>
<html>
  <head>
    <title>Laura Person | Web-Développeuse & Designeuse | Portfolio</title>
    <meta name="description" content="Laura Person est web-développeuse et web-designeuse. Après des études en sciences sociales, elle fait le bootcamp de code Le Wagon et commence à travailler en tant que freelance. ">
    <meta charset="utf-8">
    <meta property="og:title" content="Laura Person | Web-Développeuse & Designeuse | Portfolio">
    <meta property="og:image" content="devworker.png">
    <meta property="og:description" content="Laura Person est web-développeuse et web-designeuse. Après des études en sciences sociales, elle fait le bootcamp de code Le Wagon et commence à travailler en tant que freelance.">
    <meta property="og:site_name" content="Laura Person | Portfolio">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('flavicon.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
